<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Register Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate (ngSubmit)="registerUser(user)" [formGroup]="user">
    <ion-input
      class="input"
      type="email"
      formControlName="email"
      placeholder="Email"
    ></ion-input>
    <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
      Email is required
    </div>
    <ion-input
      class="input"
      type="password"
      formControlName="password"
      placeholder="Password"
    ></ion-input>
    <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
      Password is required
    </div>
    <ion-footer>
      <ion-toolbar>
        <button ion-button block class="rainbow" type="submit" [disabled]="user.invalid">Register</button>
      </ion-toolbar>
    </ion-footer>
  </form>

</ion-content>
